/* 

pp.css

contents:

	1. shared minimal styles

*/


/* 1. shared minimal styles
--------------------------------------------------------------------------------------- */

.embed
	{
	margin: 0;
	padding: 0;
	}

.pp-shortcode-map-canvas 
	{
	}

.pp-snapshots
	{
	background: #e3e3e3;
	padding: 10px 10px 0px 10px;
	overflow: hidden;
	}

.pp-snapshots label
	{
	float: left;
	width: 30%;
	padding-top: 13px;
	}

.pp-snapshots select
	{
	float: right;
	width: 70%;
	}

.pp-shortcode-map-canvas img 
	{
	max-width: inherit;
	}
	
.pp-radios
	{
	background: #e3e3e3;
	padding: 10px 10px 2px 10px;
	margin-bottom: 20px;
	}

.pp-radios label
	{
	position: relative;
	padding-top: 40px;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 8px;
	}

.pp-radios img
	{
	position: absolute;
	top: -24px;
	margin-left: -15px !important;
	left: 50%;
	}

/* share buttons on creativepeopleplace.info */

#shareme
	{
	background: #dedede;
	overflow: hidden;
	padding: 10px;
	position: relative;
	top: -20px;
	}

.embed #shareme
	{
	margin-bottom: 0;
	}

#shareme .buttons
	{
	width: 192px;
	margin: 0 auto;
	overflow: hidden;
	}
	
#shareme .button
	{
	vertical-align: middle;
	height: 22px;
	padding: 3px;
	float: left;
	width: 80px;
	text-align: center;
	background: #c9c9c9;
	margin: 0 5px;
	}

#___plusone_0
	{
	position: relative;
	left: 10px;	
	top: 1px;
	}

.twitter-share-button
	{
	position: relative;
	top: 1px;
	left: 2px;
	}